@import "tailwindcss";

@layer base {

    html,
    body {
        overscroll-behavior-y: none;
        /* Prevent pull-to-refresh bounce */
        user-select: none;
        /* Prevent text highlighting */
        -webkit-tap-highlight-color: transparent;
    }
}